.menuItem{
    width: 100px;
    height: 100px;
    border-radius: 8px;
    border: 0;
    background-color:#764ba2;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}