.btn-default{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    text-decoration: none;
    color:#333;
    cursor: pointer;
    border: 0;
    text-transform: uppercase;
  }
  .btn-primary{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color:white;
    display: flex;
    justify-content: center;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    text-decoration: none;  
    cursor: pointer;
    border: 0;
    text-transform: uppercase;
    
  }