
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
h1{
  color: white;
}
#App{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  gap: 50px;
}
main{
  width: 100%;
  padding: 20px;
}
#app header{
  height: 200px;
  display: flex;
  align-items: center;
}
.action-buttons{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100%; 
}

.form-space {
  margin-top: 30px;
}
form{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.navbar-menu{
    width: 100%;
    height: 60px;
    background-color: aliceblue;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar-menu a,.navbar-menu a:visited{
    color: #333;
    text-decoration: none;
    font-size: 24px;
}
.navbar-menu a:hover{
    color: #764ba2;
}